#Python Virtual Environment
.venv/


#IDE Setting
.idea/

#Python automatic cache
**/__pycache__/
**.pyc

#Data Outputs
data/synthetic/*.csv

#Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

#Supabase Public Key and API
.env

#Notebook pictures
notebooks/*.png

#ruff mypy cache
.ruff_cache/
.mypy_cache/